<html>

<head>
    <meta name="robots" content="noindex">
    <meta http-equiv="content-type" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div id="app" v-cloak>
        <table>
            <tr>
                <template v-for="column in columns">
                    <th><a :href="`.?ordertype=${reverseOrderType}&orderby=${column}`">{{ column }}</a></th>
                </template>
            </tr>
            <tr v-for="mind in minds">
                <td v-for="column in columns">{{ mind[column] }}</td>
            </tr>
        </table>
    </div>

    <script type="module" src="index.js"></script>
</body>

</html>
